/* Main.css */

/* Estilos para los botones de películas */
.pelicula-boton {
    padding: 10px 0;
    font-size: 1em;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .pelicula-boton:hover {
    background-color: #007bff;
    color: white;
  }
  
  /* Estilos para la sección de películas */
  .peliculas-seccion {
    padding: 10px 0;
  }
  
  .peliculas-titulo {
    font-size: 1.8em;
    margin-bottom: 15px;
    color: #2c3e50;
  }
  
  /* Estilos para la sección de mensajes */
  .messages-container {
    flex-grow: 1;
    overflow-y: auto;
    height: 500px; /* Ajusta según necesidad */
  }
  
  /* Estilos para el formulario de entrada */
  .input-row {
    margin-bottom: 20px; /* Añade margen inferior al cuadro de texto */
  }
  
  /* Estilos para las imágenes laterales */
  .side-image {
    width: 100px; /* Ajusta el tamaño de las imágenes según necesidad */
    margin-top: 20px;
  }
  
  /* Media Queries */
  @media (max-width: 767px) {
    .messages-container {
      height: 300px; /* Ajusta la altura para pantallas más pequeñas */
    }
  
    .peliculas-titulo {
      font-size: 1.5em;
    }
  
    .pelicula-boton {
      font-size: 0.9em;
      padding: 8px 0;
    }
  }