/* App.css */

.App {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Ocupa toda la altura de la ventana */
}

.app-header {
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 20px;
  text-align: center;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: fixed; /* Cambiado de sticky a fixed */
  top: 0;
  width: 100%; /* Asegura que el header ocupe todo el ancho */
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Añade sombra para separar del contenido */
}

.app-header h1 {
  margin: 0;
  font-size: 2.5em;
}

.app-subtitle {
  margin: 5px 0 0 0;
  font-size: 1.2em;
  color: #bdc3c7;
}

.app-main {
  flex-grow: 1;
  overflow: hidden; /* Evita scroll adicional */
  display: flex;
  flex-direction: column;
  padding-top: 80px; /* Espacio para el header (ajustar según altura real) */
}